.block {
    /*background-color: #FFD47F;*/
    padding: 10px;
    margin: 50px auto ;
    border-radius: 15px;
    text-align: center;
}

.nav {
    /*background-color: #bbbbbb;*/
    margin-top: 20px;
    border-right-style:solid;
    border-color: #dddddd;
    border-width: 1px;
}

.images{
    overflow-x: scroll;
    overflow-y:hidden;
    white-space: nowrap;
    height: 400px;
}

.images img{
    height: 400px;
    margin: 0 10px 0 0;
}

h6{
    margin: 30px;
}

h3{
    color:#777777;
}

.item{
    /*background: #00bb00;*/
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}

a:hover{
    color: #0000bb;
}

button{
    background: transparent;
    color:#00f;
}

.sub_button {
    padding-left: 20px;
}

.block:hover{
    background-color: aquamarine;
}

a {
    color:#0000bb;
    text-decoration:none;
}