.block {
    /*background-color: #FFD47F;*/
    padding: 10px;
    margin: 50px auto;
    border-radius: 15px;
    text-align: center;
}

/*html, body { max-height: 100%; overflow: hidden }*/

.nav {
    /*background-color: #bbbbbb;*/
    margin-top: 20px;
    border-right-style: solid;
    border-color: #dddddd;
    border-width: 1px;
}

.images {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 400px;
}

.images img {
    height: 400px;
    margin: 0 10px 0 0;
}

/*h1,h2,h3,h4,h5,h6{*/
/*color: #ffffff;*/
/*}*/

h6 {
    margin-left: 30px;
}

h5 {
    margin-left: 30px;
}

.item {
    /*background: #00bb00;*/
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}

a:hover {
    color: #0000bb;
}

button {
    background: transparent;
    color: #00f;
}

.btn-clear{
    transition: width 1s, height 1s;
    color:#aaaaaa;
    width: 100%;
    text-align: right;
}

html {
    height: 100%;
    overflow: hidden;
}
body{
    background-color: #ffffff;
    overflow: hidden;
    height: 100%;
}

#nav_row{
    height: 100%;
}

#content {
    overflow-y:scroll;
    height: 100%;
}

.sub_button {
    padding-left: 20px;
}

.block:hover {
    background-color: aquamarine;
}

a {
    color: #0000bb;
    text-decoration: none;
}